<div class="box center text-center">
  <ul>
    <li>Your Account Has Been Successfully Verified!</li>
    <li>
      <ul>
        <li>
          <p>
            Rejoin the Minecraft server to gain full player rights!<br /><br />
            The server may take a couple of minutes to update!
          </p>
        <li>
      <ul>
    </li>
  </ul>
</div>