<div class="box center">
  <ul>
    <li>Minecraft Server Details</li>
    <li>
      <ul>
        <li class="dotted">
          mc.unicraft.co or 59.167.95.66
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="box center">
  <ul>
    <li>Verifying</li>
    <li>
      <ul>
        <li>
          <p>
            Confirm your UniSA enrollment, in-game run the following command:<br />
            <span class="code">/verify &lt;unisa username&gt;</span><br /><br />
            E.g. <span class="code">/verify steveb009</span><br /><br />
            You will then receive an email from us in your UniSA inbox! Following the activation link to verify yourself.<br /><br />
            Rejoin the server and enjoy :)
          </p>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="box center">
  <ul>
    <li>Contact</li>
    <li>
      <ul>
        <li class="dotted">
          Email: admin@unicraft.co
        </li>
      </ul>
    </li>
  </ul>
</div>